@page
@model PrivacyModel
@{
    ViewData["Title"] = "Orders";
}




<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Orders</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">*@
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    @*Para el button de buscar*@
    <nav class="navbar navbar-expand-lg ">
        <div ="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </nav>
    @*Aqui termina el button de search*@

    @*Aqui empieza el button para add una orders*@
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" lass="navbar navbar-expand-lg ">
        <a class="btn btn-primary" asp-page="PageNewOrders">Add order</a>
       
    </div>

    @*Aqui termina el buttton para agregar una orders*@
    <hr>

    @*Para capa title de las columnas*@
    <div id="wrapper-header">
        <table class="table table-hover" id="orders-table">
            <thead class="table-dark">

                <tr wir>
                    <th style="text-size-adjust:auto" class="ColmOrderID">OrderId</th>
                    <th class="ColmCustomerID">CustomerId</th>
                    <th class="ColmEmployeeID">EmployeeId</th>

                    <th class="ColmOrderDate">Order Date</th>
                    <th style="text-size-adjust:auto" class="ColmRequiredDate">Required Date</th>
                    <th class="ColmShipVia">Ship Via</th>
                    <th class="ColmFreight">Freight</th>

                    <th class="ColmShipName">Ship Name</th>
                    <th style="text-size-adjust:auto" class="ColmShipAddress">Ship Address</th>
                    <th class="ColmShipCity">Ship City</th>
                    <th class="ColmShipRegion" style="text-size-adjust:auto">Ship Region</th>
                    <th class="ColmPostalCode">Ship zip</th>
                    <th class="ColmShipCountry">Ship Country</th>

                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model.Orders)
                {
    <tr>

        <td>@item.OrderID</td>
        <td>@item.CustomerID</td>
        <td>@item.EmployeeID</td>
        <td>@item.OrderDate</td>
        <td>@item.RequiredDate</td>
        <td>@item.ShipVia</td>
        <td>@item.Freight</td>
        <td>@item.ShipName</td>
        <td>@item.ShipAddress</td>
        <td>@item.ShipCity</td>
        <td>@item.ShipRegion</td>
        <td>@item.ShipPostalCode</td>
        <td>@item.ShipCountry</td>
    </tr>}


            </tbody>
        </table>

    </div>
    @*Aqui termina para el title de la culumna*@




</body>

</html>