@page
@model Northwind.WebUI.Pages.PageOrdersModel
@{ ViewData["Title"] = " New Orders"; }

@*Para importar los styles aqui empienza*@
@section styles{

    <link rel="stylesheet" href="~/css/StylesOrders.css" />

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @*Font Awesome CSS*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
}
@*Para importar los styles aqui termina*@



    @*El aqui empieza titulo de la pages*@
    <div class="col-md-6">
        <h1>New order</h1>
    </div>
    @*El aqui termina el titulo de la pages*@




    @*Aqui empieza en form para las orderes*@
<form method="post" id="saveOrderForm">



    <div>
        @*Boton cancel y save Formulario aqui empieza*@
        <div class="row">
            <div class="col-xs-12">


                <div class="col-xs-6">
                    <div class="form-group">
                        &nbsp;
                        <div class="pull-right">



                            <button type="submit" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="fa fa-check"></i></span>Save order
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Boton cancel y save Formulario aqui termina*@





    </div>



    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    <div class="row">
        <div class="col-md-3">
            <div>
                <label class="form-label">Customer</label>
                <select class="form-control" asp-items="Model.Customers" asp-for="Orders.CustomerID">
                    <option value="">select an customers</option>
                </select>
                <span class="invalid-feedback d-block" asp-validation-for="Orders.CustomerID"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label class="form-label">Employee</label>
                <select class="form-control" asp-items="Model.Employees" asp-for="Orders.EmployeeID">
                    <option value="">Select an employees</option>
                </select>
                <span class="invalid-feedback d-block" asp-validation-for="Orders.EmployeeID"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Order date</label>
                <input class="form-control" type="date" asp-for="Orders.OrderDate" />
                <span class="invalid-feedback d-block" asp-validation-for="Orders.OrderDate"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label" asp-for="Orders.RequiredDate"></label>
                <input class="form-control" type="date" asp-for="Orders.RequiredDate" />
                <span class="invalid-feedback d-block" asp-validation-for="Orders.RequiredDate"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Shipped date</label>
                <input class="form-control" type="date" asp-for="Orders.ShippedDate" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship via</label>
                <select class="form-control" asp-items="Model.Shippers" asp-for="Orders.ShipVia">
                    <option value="">select an shippers</option>
                </select>
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Freight</label>
                <input class="form-control" asp-for="Orders.Freight" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div>
    </div>
    <h3 class="mt-1">Shipping details</h3>
    <div class="row mt-1">
        <div class="col-md-2">
            <div>
                <label class="form-label">Ship name</label>
                <input class="form-control" asp-for="Orders.ShipName" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship address</label>
                <input class="form-control" asp-for="Orders.ShipAddress" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship city</label>
                <input class="form-control" asp-for="Orders.ShipCity" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship region</label>
                <input class="form-control" asp-for="Orders.ShipRegion" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship postal code</label>
                <input class="form-control" asp-for="Orders.ShipPostalCode" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div><div class="col-md-2">
            <div>
                <label class="form-label">Ship country</label>
                <input class="form-control" asp-for="Orders.ShipCountry" />
                <span class="invalid-feedback d-block"></span>
            </div>
        </div>
    </div>


    <div class="mt-2">

        <div class="d-flex">
            <div class="row flex-grow-1">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Product</label>
                        <select class="form-control" asp-items="Model.Products" id="newProductSelect">
                            <option value="">-- Select a product --</option>
                        </select>
                        <span class="invalid-feedback d-block"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label">Quantity</label>
                        <input class="form-control" id="newProductQuantity" />
                        <span class="invalid-feedback d-block"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label">Discount</label>
                        <input class="form-control" id="newProductDiscount" />
                        <span class="invalid-feedback d-block"></span>
                    </div>
                </div>
            </div>

            <div class="ms-2 d-flex flex-column-reverse">
                <button class="btn btn-primary" id="addProductButton" type="button">
                    Add product
                </button>
            </div>
        </div>

        <table class="table" id="orderDetailTable">
            <thead>
                <tr>
                    <td>Product</td>
                    <td width="100" class="text-end">Unit price</td>
                    <td width="100">Quantity</td>
                    <td width="100">Discount</td>
                    <td width="100" class="text-end">Amount</td>
                </tr>
            </thead>
            <tbody>

                @if (Model?.Orders?.Detail != null)
                {
                    foreach (var item in Model.Orders.Detail)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="Orders.Detail.Index" value="@item.Guid" />
                                <input type="hidden" name="Orders.Detail[@item.Guid].Guid" value="@item.Guid" />
                                <input type="hidden" name="Orders.Detail[@item.Guid].ProductID" value="@item.ProductID" />
                                <input type="hidden" name="Orders.Detail[@item.Guid].ProductName" value="@item.ProductName" />
                                <span>@item.ProductName</span>
                            </td>
                            <td class="text-end">
                                <input class="unitPriceInput" type="hidden" name="Orders.Detail[@item.Guid].UnitPrice" value="@item.UnitPrice" />
                                <span>@item.UnitPrice.ToString("N2")</span>
                            </td>
                            <td>
                                <input class="form-control form-control-sm quantityInput" type="text" name="Orders.Detail[@item.Guid].Quantity" value="@item.Quantity" />
                            </td>
                            <td>
                                <input class="form-control form-control-sm discountInput" type="text" name="Orders.Detail[@item.Guid].Discount" value="@item.Discount" />
                            </td>
                            <td class="text-end">
                                <input type="hidden" name="Orderd.Detail[@item.Guid].Total" value="@item.Total" />
                                <span class="total">@item.Total.ToString("N2")</span>
                            </td>
                        </tr>
                    }
                 }
            </tbody>
        </table>

    </div>

</form>

@*Aqui termina en form para las orderes*@

<script type="text/html" id="orderDetailTemplate">
    <tr>
        <td>
            <input type="hidden" name="Orders.Detail.Index" value="{guid}" />
            <input type="hidden" name="Orders.Detail[{guid}].Guid" value="{guid}" />
            <input type="hidden" name="Orders.Detail[{guid}].ProductID" value="{productId}" />
            <input type="hidden" name="Orders.Detail[{guid}].ProductName" value="{productName}" />
            <span>{productName}</span>
        </td>
        <td class="text-end">
            <input class="unitPriceInput" type="hidden" name="Orders.Detail[{guid}].UnitPrice" value="{unitPrice}" />
            <span>{unitPriceWithFormat}</span>
        </td>
        <td>
            <input class="form-control form-control-sm quantityInput" type="text" name="Orders.Detail[{guid}].Quantity" value="{quantity}" />
        </td>
        <td>
            <input class="form-control form-control-sm discountInput" type="text" name="Orders.Detail[{guid}].Discount" value="{discount}" />
        </td>
        <td class="text-end">
            <input class="totalInput" type="hidden" name="Orderd.Detail[{guid}].Total" value="{total}" />
            <span class="total">{total}</span>
        </td>
    </tr>
</script>



@*Para los scripts aqui empienza*@

@section scripts{
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/orders.js"></script>
    <script src="~/js/New-Orders.js"></script>
}

@*Para los scripts aqui termina*@